.filter {
  height: 70%;
  overflow: auto;
  width: 100%;
  margin: 20px 20px 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filterTitle {
  background-color: #114b54;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  width: 100%;
}

.filter ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.filter li span,
.filter li p {
  display: inline-block;
  font-size: larger;
}
