.duaCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* padding: 10px; */
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  height: 100%;
  width: 100%;
  padding: 10px;
  /* margin: 10px 10px 0 10px; */
  display: flex;
  background-color: #114b5f;
  justify-content: space-evenly;
  box-sizing: border-box;
  color: #ffffff;
  font-size: larger;
  font-weight: bold;
}

.title span {
  align-self: center;
  margin-left: 50px;
  margin-right: 50px;
}

.surahArabicName {
  font-family: 'MeQuran';
}

.verses {
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: larger;
}
