.duaCardVerse {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}

.duaCardVerse img,
.urdu {
  align-self: flex-end;
  font-family: 'Urdu';
  font-size: xx-large;
  direction: rtl;
  padding: 0 20px;
}

.english {
  padding: 0 20px;
}

.duaCardVerse img {
  transition: transform 0.2s;
}

.duaCardVerse img:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5) translateX(-200px);
}
