.duaCardList {
  /* display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: blue;
  overflow: auto; */

  display: flex;
  flex-direction: column;
  background-color: #cccccc;
  padding: 20px;
  margin: 20px;
  height: 90%;
  width: 100%;
  overflow: auto;
}
